<h1>Styles</h1>

<h3><%= pluralize(@styles.count, 'style', 'styles') %></h3>

<% if not @styles.empty? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @styles.each do |style| %>
          <tr>
            <td><%= link_to "#{style.name}", style %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<br>

<% if ensure_that_admin %>
    <%= link_to('New style', new_style_path, class:'btn btn-primary') if current_user %>
<% end %>
