<h1><%= @style.name %></h1>

<p>
    <strong>Description</strong><br>
    <%= @style.description %>
</p>

<br>

<%= link_to 'Edit', @style, class:'btn btn-primary' if current_user %>
<%= link_to('Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger') if current_user %>
