<h1><%= @style.name %></h1>

<p>
    <% if @style.description.empty? %>
        No description.
    <% else %>
        <%= @style.description %>
    <% end %>
</p>

<br>

<% if ensure_that_admin %>
    <%= edit_and_destroy_buttons(@style) %>
<% end %>
